body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(source.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(-50%,-50%);
    width: 700px;
    background: #fdd5b1;
    padding: 45px;
    box-sizing: border-box;
    border :3px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.container h1
{
    text-align: center;
    margin: 0 0 40px;
    padding: 0;
    color: black;
	font-family: 'Times New Roman', serif;
   
}

.container h2
{
    text-align: center;
    margin: 0 0 40px;
    padding: 0;
    color: #ff6700;
	font-family: 'Times New Roman', serif;
	color: black;
	font-size:30px;
}


.container input
{
    padding: 5px;
    margin-bottom: 30px;
    width: 55%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border:none;
    border-bottom: 2px solid #cb410b;
	
}

.container select
{
    padding: 5px;
    margin-bottom: 30px;
    width: 55%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border:none;
    border-bottom: 2px solid #999;
	font-weight:20px;
}

.container input[type="submit"]
{
    border-radius: 25px;
    font-size: 20px;
    height: 40px;
    cursor : pointer;
    background: #ffa700;
    color: #fff;
    margin-bottom: 0;
}
.container input[type="submit"]:hover
{
    background: #ff7e00;
    color: #fff;
}
.container form div
{
    position: relative;
}
.container form div label
{
    position: absolute;
    top: 3px;
    pointer-events: none;
    left: 0;
   
}
.container input:red ~label,
.container input:valid ~label
{
    left: 0;
    top: -20px;
    color: rgb(66,133,244);
    font-size: 12px;
    font-weight: bold;
}
.container input:focus,
.container input:valid
{
    border-bottom: red
}
.error_form
{
    top: 12px;
    color: rgb(216, 15, 15);
    font-size: 15px;
    font-family: Helvetica;
}